.machine-view {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 25px;
    padding-left: 100px;
    background: #eeeeee;
}